<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-utilities.min.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <title> invoice page </title>
</head>
  <body>
 
    <div class="container mt-4">
      <div class="row pt-4 px-4 bg-light rounded-2 border-bottom">

        <div class="col">
          <div class="row justify-content-start">
              <div class="fw-bold">
                <blockquote class="blockquote">
                  <p>Alıcı</p>
                </blockquote>
              </div>
              <div class="" style="font-size: 14px;">Isim soyisim</div>
              <div class="" style="font-size: 14px;">adres falan filan</div>
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="fw-bold" style="font-size: small; padding-top: 12px;"><p></p></div>
            <div class="fs-6"><p><small>Fatura No: 121233</small></div>
          </div>
        </div>
        <div class="col justify-content-end">
          <div class="row">
            <div class="fw-bold" style="text-align: right;">
              <blockquote class="blockquote">
                <p>Firma</p>
              </blockquote>
            </div>
            <div class="" style="font-size: 14px; text-align: right;"> adres falan filan</div>
          </div>
        </div>

      </div>

      
      <div class="row" style="margin-top: 12px;">
        <div class="col">
         <div class="row justify-content-left">
            <div class="col-12" style="text-align: left;">
              <span> content</span> 
                <span class="badge rounded bg-primary"> Hoppala </span>
            </div>

            </div>

        </div>
        <div class="col">
          <div class="row justify-content-end border-top">
             <div style="text-align: right;">
               <span> content</span> 
                 <span class="badge rounded bg-success p-2 text-white bg-opacity-25"> Hoppala </span>
             </div>
 
             </div>
 
         </div>
      </div>
  </div>
  </body>
</html>